.box{
	background-color: white;
	margin-top: 12px;
	color: #333333;
	/*font-size: 24px;*/
}
.boxtitle{
    font-weight: bold;
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
}

.boxcontent{
	padding: 0 15px;
}

.introductionContent{
    font-size: 16px;
    padding:0 15px 30px;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: justify;
}