.pool-head-desc{
	color:#999;
	text-align: center;
	font-size: 12px;
}
.pool-head{
	display: inline-block;
	color:#0A964C;
	padding-top: 12px;
	border-bottom: 5px solid #0a964c;
}
.pool-head-container{
	text-align: center;
}