
.squareStructure{
	background-color: white;
	width: 100%;
	font-family: "PingHei";
	text-align: justify;
}

.squareHead{
	overflow: hidden;
	padding-top: 20px;
	padding-left: 10px;
}

.squareHead img{
	float: left;
}

.squareHead-1 {
}

.squareHead-1-0 {
	float: left;
	font-size: 14px;
	padding-left: 10px;
	color: #999;
	/*padding-top: 10px;*/
}

.squareHead-1-1 {
	font-size: 13px;
	color: #999;
	float:right;
	margin-right: 10px;
	font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	/*padding-top: 10px;*/
}

.squareBody{
	clear: both;
	/*font-size: 14px;*/
	color: #666;
	margin-top: 5px;
    margin-left: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.squareBody p{
    margin-top: 10px;
    margin-bottom: 0;
}

.squareBottom{
    color: #666666;
    margin-left: 57px;
    padding-right: 20px;
}

.squareBottom-0-0{
	display: inline-block;
    width: 42px;
    text-align: center;
    /* background-color: #0D964C; */
    color: #999;
    position: absolute;
    left: -50px;
    border-bottom: 3px solid #0D964C;
}

.squareBottom-0-1{
    color: #999;
    position: relative;
    margin-top: 10px;
}

.squareBottom p{
	clear:both;
	font-size:28px;
	padding-top: 20px;
}


.squareStatistic{
	margin-top: 15px;
    /*overflow: hidden;*/
    float: right;
}

.squareStatistic{
	margin-right: 5px;
	margin-left: 45px;
	width: 100%;
}
.squareStatistic img{
	float:right;
	height: 14px;
	width: 14px;
	margin-left:10px;
}

.squareStatistic div{
	/*float:left;*/
	font-size:14px;
	color:#999;
}
.bottom-num{
	float:right;
	font-size:14px;
	margin-left:10px;
	margin-right: 10px;
	margin-top: -4px;
	color:#999999;
}

.squareEnd{
	clear:both;
	height: 5px;
	background: #F0F0F0;
}

.squareHeadAvatar{
	width: 40px;
	height:40px;
	border-radius: 50%;
	float: left;
}

.squareHeadAvatar img{
	width: 40px;
	height:40px;
	border-radius: 50%;
}
.square-question{
	padding-bottom: 20px;
}
.squareBottom-0:after,.squareBottom-0:before,.squareBottom:after{
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.square-answer-line{
	text-align: center;
	margin-bottom: 10px;
}
.squareHead-2-0{
	color: #fa1717;
	float: left;
	font-size: 14px;
	padding-left: 10px;
}
.squareRewardImg{
	width: 18px;
    height: 20px;
    padding-top: 3px;
    margin-right: 3px;
}