.selectMode{
	margin-top: 110px;
	width: 80%;
	margin-left: 10%;
}
.selectMode-left{
	width: 40%;
	height: 63px;
	float: left;
	text-align: center;
	background: #0a964c;
	border-radius: 10%;
}
.selectMode-right{
	text-align: center;
	width: 40%;
	height: 63px;
	float: right;
	background: #0a964c;
	border-radius: 10%;
}
/*.selectMode-left img{
	width: 60px;
}*/

.voiceArea{
	margin-top: 110px;
	text-align: center;
}
.voice-title{
	color: #0A964C;
} 
