
.gallery{
	width: 100%;
	font-family: "PingHei";
	font-size: 20px;
	position: relative;
	color: white;
	max-height:180px;
	overflow: hidden;
}

.gallery img{
	width: 100%;
}

.scrollPage{
	/*position:absolute;
	top:0px;
	width: 100%;
	height:100%;
	background-color: black;
	opacity:0.4;*/
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to top,black,rgba(0,0,0,0));
    font-size: 16px;
    padding: 8px 15px;
}

.nameTag{
	position: absolute;
	width:50%;
	z-index:2;
	left: 50%;
	top: 25%;
	margin-left:-25%;
}


.name{
	text-align: center;


}


.tag{
	font-size: 12px;
	text-align:center;
	line-height: 27px
}

.tag img{
	width: 11px;
	height: 11px;
}

.gallery-placeholder{
	height: 6px;
	background: #E1E1E1;
}
.gallery-detail{
	height: 40px;
	margin: 0 15px;
	font-size: 12px
}
.gallery-tag {
	display: inline-block;
    width: 10%;
    color: #0A964C;
    text-align: left;
    line-height: 20px;
    height: 20px;
    margin-top: 
}
.gallery-fans{
	display: inline-block;
    width: 17%;
    color: #999;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 20px;
    margin-top: 10px;
}
.gallery-answerNum{
	height: 20px;
	color: #999;
	display: inline-block;
    width: 17%;
    line-height: 20px;
    text-align: center;
}
.gallery-focusbtn {
    box-sizing: border-box;
    margin-top: 6px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    border-radius: 14px;
    background: white;
    color: #0A964C;
    text-align: center;
    padding: 0px 6px;
    border: 1px solid #0A964C;
    float: right;
    width: 65px;
}
