.contentBox{
	width: 100%;
	height: 100%;
}

.recommend{
	clear: both;
	height: 51px;
	text-align: center;
	padding-top: 10px;
}

.recommend p{
	position: relative;
	text-align: center;
	width: 100px;
	height: 22px;
	border: 1px solid black;
	line-height: 22px;
	left:50%;
	margin-left:-50px;
	font-size: 14px;
}

.span1{
	position:relative;
	width: 50%;
	left:50%;
	margin-left:-25%;
	height: 52px;
}

.span1 p{
	text-align: center;
	padding-top: 34px;
	color: #333333;
	font-size: 14px;
	height: 44px;
	font-family: "PingHei";
}

.eightClasses{
	width: 100%;
	clear: both;
}

.fourClasses{
	width:100%;
	clear:both;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}